<form-directive>
    <titulo>{{nombre}}</titulo>
    <descripcion>A través de esta sección usted podrá gestionar la creación de un producto para la aplicación.</descripcion>
    <form>
        <div class="form-group" ng-if="!isCrear()">
            <label class="col-sm-3 control-label">Id:</label>
            <div class="col-sm-7">
                <label class="control-label">{{recurso.id}}</label>
                <p class="help-block">Identificador único del producto.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="nombre" class="col-sm-3 control-label">Descripción del Producto:*</label>
            <div class="col-sm-7">
                <input type="text" ng-model="recurso.descripcion" class="form-control" id="nombre">
                <p class="help-block">Descripción del Producto.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="precioVenta" class="col-sm-3 control-label">Precio de venta:*</label>
            <div class="col-sm-7">
                <input type="text" ng-model="recurso.precioVenta" class="form-control" id="precioVenta">
                <p class="help-block">Precio de venta.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="idTipoProducto" class="col-sm-3 control-label">Tipo de producto:*</label>
            <div class="col-sm-7">
                <select
                        id="idTipoProducto"
                        class="form-control"
                        ng-model="recurso.idTipoProducto">
                    <option value="">--Seleccionar--</option>
                    <option value="1">EQUIPO</option>
                    <option ng-repeat="c in listaTipoProducto" value="{{c.id}}">{{c.descripcion}}
                    </option>
                </select>
                <p class="help-block">Tipo de producto.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="tipoIva" class="col-sm-3 control-label">Tipo Iva:*</label>
            <div class="col-sm-7">
                <select
                        id="tipoIva"
                        class="form-control"
                        ng-model="recurso.tipoIva">
                    <option value="">--Seleccionar--</option>
                    <option value="1">IVA 10%</option>
                    <option value="2">IVA 5%</option>
                    <option ng-repeat="c in listaIva" value="{{c.id}}">{{c.descripcion}}
                    </option>
                </select>
                <p class="help-block">Tipo Iva.</p>
            </div>
        </div>

<!--        <div class="form-group">
            <label for="activo" class="col-sm-3 control-label">Activo: {{recurso.activo| sino}}</label>
            <div class="col-sm-7">
                <label class="switch">
                        <input type="checkbox" ng-model="recurso.activo" id="activo">
                        <div class="slider round"></div>
                    </label>
                <p class="help-block">Estado de la Empresa.</p>
            </div>
        </div>-->
    </form>
</form-directive>