<view-directive>
    <titulo>{{nombre}}</titulo>
    <descripcion>A través de esta sección usted podrá consultar los datos de un producto.</descripcion>
    <view>
        <dt>Id:</dt>
        <dd>
            {{recurso.id}}
        </dd>
        <dt>Nombre del Producto:</dt>
        <dd>
            {{recurso.descripcion}}
        </dd>
        <dt>Precio de venta:</dt>
        <dd>
            {{recurso.precioVenta}}
        </dd>
        <dt>Tipo de Producto:</dt>
        <dd>
            {{recurso.idTipoProducto}}
        </dd>
        <dt>Tipo Iva:</dt>
        <dd>
            {{recurso.tipoIva}}
        </dd>
    </view>
</view-directive>