<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav compress" model="user">
        <li class="active" ng-if="user != null">
            <a href="#!/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>

        <li ng-if="user != null">
            <a href="#!/medios-pagos/" title="Medios de Pago">
                <i class="fa fa-fw  fa-building"></i> Medios de Pago
            </a>
        </li>
        <li ng-if="user != null">
            <a class="accordion-heading" data-toggle="collapse" data-target="#pedidos">
                <i class="fa fa-fw fa-ticket"></i><span class="nav-header-primary">Pedidos <span class="pull-right"><b class="caret"></b></span></span>
            </a>

            <ul class="nav nav-list collapse" id="pedidos">
                <li><a href="#" title="Title">Recepcionar Pedidos</a></li>
                <li><a href="#" title="Title">Confirmar pedidos</a></li>
            </ul>
        </li>
        <li ng-if="user != null">
            <a class="accordion-heading" data-toggle="collapse" data-target="#ventas">
                <i class="fa fa-fw fa-shopping-cart"></i><span class="nav-header-primary">Ventas <span class="pull-right"><b class="caret"></b></span></span>
            </a>

            <ul class="nav nav-list collapse" id="ventas">
                <li>
                    <a class="accordion-heading" data-toggle="collapse" data-target="#ventas-detalle">Sub Menu Link <span class="pull-right"><b class="caret"></b></span></a>
                    <ul class="nav nav-list collapse" id="ventas-detalle">
                        <li><a href="#" title="Title">Sub Sub Menu Link</a></li>
                        <li><a href="#" title="Title">Sub Sub Menu Link</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li ng-if="user != null">
            <a class="accordion-heading" data-toggle="collapse" data-target="#stock">
                <i class="fa fa-fw fa-area-chart"></i><span class="nav-header-primary">Stock <span class="pull-right"><b class="caret"></b></span></span>
            </a>

            <ul class="nav nav-list collapse" id="stock">
                <li>
                    <a href="#!/productos/" title="Productos">
                        <i class="fa fa-fw fa-tags"></i> Productos
                    </a>
                </li>
                <li>
                    <a href="#!/medios-pagos/" title="Detalles Productos">
                        <i class="fa fa-fw  fa-building"></i> Detalles Productos
                    </a>
                </li>
            </ul>
        </li>
        <li ng-if="user != null">
            <a class="accordion-heading" data-toggle="collapse" data-target="#stock2">
                <i class="fa fa-fw  fa-tags"></i><span class="nav-header-primary">Clientes <span class="pull-right"><b class="caret"></b></span></span>
            </a>

            <ul class="nav nav-list collapse" id="stock2">
                <li>
                    <a class="accordion-heading" data-toggle="collapse" data-target="#datos">Datos <span class="pull-right"><b class="caret"></b></span></a>
                    <ul class="nav nav-list collapse" id="datos">
                        <li><a href="#" title="Title">Sub Sub Menu Link</a></li>
                        <li><a href="#" title="Title">Sub Sub Menu Link</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li ng-if="user != null">
            <a class="accordion-heading" data-toggle="collapse" data-target="#submenu1">
                <i class="fa fa-fw fa-address-card"></i><span class="nav-header-primary">Acciones <span class="pull-right"><b class="caret"></b></span></span>
            </a>

            <ul class="nav nav-list collapse" id="submenu1">
                <li>
                    <a class="accordion-heading" data-toggle="collapse" data-target="#submenu2">Sub Menu Link <span class="pull-right"><b class="caret"></b></span></a>
                    <ul class="nav nav-list collapse" id="submenu2">
                        <li><a href="#" title="Title">Sub Sub Menu Link</a></li>
                        <li><a href="#" title="Title">Sub Sub Menu Link</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li ng-if="user != null">
            <a href="#!/proveedores/" title="Proveedores">
                <i class="fa fa-fw fa-cart-arrow-down"></i> Proveedores
            </a>
        </li>
        <li ng-if="user != null">
            <a class="accordion-heading" data-toggle="collapse" data-target="#compras">
                <i class="fa fa-fw  fa-list-alt"></i><span class="nav-header-primary">Gestión de Compras <span class="pull-right"><b class="caret"></b></span></span>
            </a>

            <ul class="nav nav-list collapse" id="compras">

                <li><a href="#" title="Title">Orden de Compra</a></li>
                <li><a href="#" title="Title">Orden de Remisión</a></li>
            </ul>
        </li>
        <li ng-if="user != null">
            <a class="accordion-heading" data-toggle="collapse" data-target="#configuraciones">
                <i class="fa fa-fw  fa-cogs"></i><span class="nav-header-primary">Configuraciones <span class="pull-right"><b class="caret"></b></span></span>
            </a>

            <ul class="nav nav-list collapse" id="configuraciones">
                <li>
                    <a class="accordion-heading" data-toggle="collapse" data-target="#usuarios">Usuarios <span class="pull-right"><b class="caret"></b></span></a>
                    <ul class="nav nav-list collapse" id="usuarios">
                        <li><a href="#" title="Title">Sub Sub Menu Link</a></li>
                        <li><a href="#" title="Title">Sub Sub Menu Link</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li role="separator" class="hidden-sm hidden-md hidden-lg divider"></li>
        <li class="hidden-sm hidden-md hidden-lg" ng-if="user != null">
            <a><i class="fa fa-fw fa-user"></i> {{user.nombre}} </a>
        </li>
        <li class="hidden-sm hidden-md hidden-lg" ng-if="user == null">
            <a ng-click="login()"> <i class="fa fa-fw fa-user-circle-o"></i> Ingresar </a>
        </li>
        <li role="separator" class="hidden-sm hidden-md hidden-lg divider"></li>
        <li class="hidden-sm hidden-md hidden-lg" ng-if="user != null">
            <a ng-click="logout()"><i class="fa fa-fw fa-fw fa-power-off"></i> Salir</a>
        </li>
        <a class="btn action"><i class="fa fa-angle-double-left"></i></a>
    </ul>
</div>
