<br/>
<br/>

<div class="col-md-12">
    <div class="row" ng-controller="HeaderCtrl">
        <div class="col-md-3">
            <section class="cloud box">
                <i class="fa fa-file-pdf-o"></i>
                <hr/>
                <p class="bootom">{{user.name}}</p>
                <hr/>
            </section>
        </div>
        <section class="box-body">
            <h1>¡Bienvenido!</h1>
            <hr/>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam molestie metus. Quisque pellentesque ipsum et est pulvinar vehicula. Nunc ac nibh eget ipsum semper feugiat. Sed imperdiet massa tortor, sit amet ullamcorper massa lobortis et. Nulla a nisl et ligula faucibus aliquet a id orci. Sed porta tempor massa pretium malesuada.
            </p>
        </section>
    </div>

    <br/>
    <hr>
    <br/>
    <br/>

    <div class="row">
        <div class="col-md-3">
            <div class="cloud green">
                <i class="fa fa-users"></i>
                <hr/>
                <p class="bootom">Administración</p>
                <hr/>
                <p class="value">1.234</p>
                <p class="bootom">en total</p>
            </div>
            <div class="cloud-footer">
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam molestie metus. Quisque pellentesque ipsum et est pulvinar vehicula. Nunc ac nibh eget ipsum semper feugiat.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="cloud yellow">
                <i class="fa fa-tasks"></i>
                <hr/>
                <p class="bootom">Liquidaciones</p>
                <hr/>
                <p class="value">1.234</p>
                <p class="bootom">en total</p>
            </div>
            <div class="cloud-footer">
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam molestie metus. Quisque pellentesque ipsum et est pulvinar vehicula. Nunc ac nibh eget ipsum semper feugiat.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="cloud blue">
                <i class="fa fa-ticket"></i>
                <hr/>
                <p class="bootom">Comprobantes</p>
                <hr/>
                <p class="value">1.234</p>
                <p class="bootom">en total</p>
            </div>
            <div class="cloud-footer">
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam molestie metus. Quisque pellentesque ipsum et est pulvinar vehicula. Nunc ac nibh eget ipsum semper feugiat.

                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="cloud pink">
                <i class="fa fa-pencil"></i>
                <hr/>
                <p class="bootom">Frima Digital</p>
                <hr/>
                <p class="value">1.234</p>
                <p class="bootom">en total</p>
            </div>

            <div class="cloud-footer">
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam molestie metus. Quisque pellentesque ipsum et est pulvinar vehicula. Nunc ac nibh eget ipsum semper feugiat.
            </div>
        </div>
    </div>
</div>

<br/>
<br/>
