<form-directive>
    <titulo>{{nombre}}</titulo>
    <descripcion>A través de esta sección usted podrá gestionar la creación de un proveedor para la aplicación.</descripcion>
    <form>
        <div class="form-group" ng-if="!isCrear()">
            <label class="col-sm-3 control-label">Id:</label>
            <div class="col-sm-7">
                <label class="control-label">{{recurso.id}}</label>
                <p class="help-block">Identificador único del proveedor.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="nombre" class="col-sm-3 control-label">Nombre del Proveedor:*</label>
            <div class="col-sm-7">
                <input type="text" ng-model="recurso.nombre" class="form-control" id="nombre">
                <p class="help-block">Nombre del Proveedor.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="ruc" class="col-sm-3 control-label">RUC:*</label>
            <div class="col-sm-7">
                <input type="text" ng-model="recurso.ruc" class="form-control" id="ruc">
                <p class="help-block">RUC del Proveedor.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="telefono" class="col-sm-3 control-label">Teléfono:*</label>
            <div class="col-sm-7">
                <input type="text" ng-model="recurso.telefono" class="form-control" id="telefono">
                <p class="help-block">Teléfono del Proveedor.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="direccion" class="col-sm-3 control-label">Dirección:*</label>
            <div class="col-sm-7">
                <input type="text" ng-model="recurso.direccion" class="form-control" id="direccion">
                <p class="help-block">Dirección del Proveedor.</p>
            </div>
        </div>

<!--        <div class="form-group">
            <label for="activo" class="col-sm-3 control-label">Activo: {{recurso.activo| sino}}</label>
            <div class="col-sm-7">
                <label class="switch">
                        <input type="checkbox" ng-model="recurso.activo" id="activo">
                        <div class="slider round"></div>
                    </label>
                <p class="help-block">Estado de la Empresa.</p>
            </div>
        </div>-->
    </form>
</form-directive>