<view-directive>
    <titulo>{{nombre}}</titulo>
    <descripcion>A través de esta sección usted podrá consultar los datos de un medio de pago.</descripcion>
    <view>
        <dt>Id:</dt>
        <dd>
            {{recurso.id}}
        </dd>
        <dt>Nombre del Proveedor:</dt>
        <dd>
            {{recurso.nombre}}
        </dd>
        <dt>RUC:</dt>
        <dd>
            {{recurso.ruc}}
        </dd>
        <dt>Teléfono:</dt>
        <dd>
            {{recurso.telefono}}
        </dd>
        <dt>Dirección:</dt>
        <dd>
            {{recurso.direccion}}
        </dd>
    </view>
</view-directive>