// ESTILOS EXTERNOS
@import "../vendors/ksass/src/scss/variables";
@import "../vendors/fontawesome/scss/font-awesome";
@import "../vendors/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../vendors/ksass/src/scss/ksass";
@import "tasty";
@import "home";
.panel[marked] {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 3px;
}
.no-data {
    color: $text_color;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    .fa {
        font-size: 32px;
    }
}
.loading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    img {
        width: 120px;
    }
}
.navbar-default {
    .navbar-brand {
        .fa {
            font-size: 23px;
            width: 100%;
        }
    }
}

#column_left {
    background-color: #515151;
}

.nav-list li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #515151 !important;
    color: #9d9d9d;
}

.nav-list > li > a {
    color: #C4C4C4;
    font-size: 14px;
    padding-left: 13px !important;
    border-bottom: 1px solid #585858;
}

.nav-list > li > a:hover {
    background-color: #444444;
}

.small-column {
    max-height: 15px;
}

.medium-column > li > a:hover {
    max-height: 25px;
}

.large-column > li > a:hover {
    max-height: 35px;
}

