<form-directive>
    <titulo>{{nombre}}</titulo>
    <descripcion>A través de esta sección usted podrá gestionar la creación de medios de pago para la aplicación.</descripcion>
    <form>
        <div class="form-group" ng-if="!isCrear()">
            <label class="col-sm-3 control-label">Id:</label>
            <div class="col-sm-7">
                <label class="control-label">{{recurso.id}}</label>
                <p class="help-block">Identificador único del medio de pago.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="descripcion" class="col-sm-3 control-label">Descripción:*</label>
            <div class="col-sm-7">
                <input type="text" ng-model="recurso.descripcion" class="form-control" id="descripcion">
                <p class="help-block">Descripción del medio de pago.</p>
            </div>
        </div>

<!--        <div class="form-group">
            <label for="activo" class="col-sm-3 control-label">Activo: {{recurso.activo| sino}}</label>
            <div class="col-sm-7">
                <label class="switch">
                        <input type="checkbox" ng-model="recurso.activo" id="activo">
                        <div class="slider round"></div>
                    </label>
                <p class="help-block">Estado de la Empresa.</p>
            </div>
        </div>-->
    </form>
</form-directive>