<view-directive>
    <titulo>{{nombre}}</titulo>
    <descripcion>A través de esta sección usted podrá consultar los datos de un medio de pago.</descripcion>
    <view>
        <dt>Id:</dt>
        <dd>
            {{recurso.id}}
        </dd>
        <dt>Descripción:</dt>
        <dd>
            {{recurso.descripcion}}
        </dd>
    </view>
</view-directive>