<lista-directive>
    <breadcrumb>{{nombre}} <span class="badge">1</span></breadcrumb>
    <filtros>
        <div class="form-group">
            <label class="control-label">Nombre:</label>
            <input type="text" class="form-control" ng-model="filterBy.descripcion" />
        </div>
    </filtros>
    <titulo>Medios de Pago</titulo>
    <descripcion>A través de esta sección usted podrá realizar consultar la lista de los medios de pagos registradas.</descripcion>
    <tabla>
        <table class="table table-striped">
            <thead tasty-thead=""></thead>
            <tbody ng-if="loading == false">
                <tr ng-repeat="row in config.rows">
                    <td>{{row.descripcion}}</td>
                    <td>
                        <a href="#!{{path}}{{row.id}}/ver"> <i class="fa fa-eye"></i> Ver </a> &nbsp;
                        <a href="#!{{path}}{{row.id}}/editar"><i class="fa fa-pencil-square-o"></i> Editar </a> &nbsp;
                        <a href="#" ng-click="eliminar(row)"><i class="fa fa-trash-o"></i> Eliminar </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </tabla>
</lista-directive>